<h1>Welcome</h1>
<p>Find me  in app/views/welcome</p>


<%= image_tag "cat.jpeg" ,class: "img-fluid"%>    

<%= image_tag 'https://c4.wallpaperflare.com/wallpaper/168/493/80/borneo-orangutan-tanjung-puting-national-park-indonesia-wallpaper-preview.jpg',class: "img-fluid" %>